In [ ]:
from polyglot.detect import Detector
from polyglot.detect.base import logger as polyglot_logger
import pandas as pd
from pyspark.sql import SparkSession
#import findspark

In [ ]:
polyglot_logger.setLevel("ERROR")

## Create Session

In [ ]:
spark = SparkSession.builder.master('local[*]').config("spark.driver.memory", "16g").appName("ML2").getOrCreate()

23/01/24 23:38:53 WARN Utils: Your hostname, ares resolves to a loopback address: 127.0.1.1; using 192.168.1.181 instead (on interface enp4s0)
23/01/24 23:38:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/rsaid/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/01/24 23:38:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Load data

In [ ]:
df_review = spark.read.json('./item_dedup.json')
df_review.createOrReplaceTempView('review')
df_article = spark.read.json('./metadata.json')
df_article.createOrReplaceTempView('article')

## View

In [ ]:
df_review.show(n = 10)

+----------+--------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+
|      asin| helpful|overall|          reviewText| reviewTime|    reviewerID|        reviewerName|             summary|unixReviewTime|
+----------+--------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+
|0000000078|  [1, 1]|    5.0|Conversations wit...|08 11, 2004|A3AF8FFZAZYNE5|                null|          Impactful!|    1092182400|
|0000000116|  [5, 5]|    4.0|Interesting Grish...|04 27, 2002| AH2L9G3DQHHAJ|               chris|  Show me the money!|    1019865600|
|0000000116|  [0, 0]|    1.0|The thumbnail is ...|03 24, 2014|A2IIIDRK3PRRZY|              Helene|Listing is all sc...|    1395619200|
|0000000868|[10, 10]|    4.0|I'll be honest. I...|09 11, 2002|A1TADCM7YWPQ8M|            Joel@AWS|Not a Bad Transla...|    1031702400|
|0000013714|  [0, 0]|    4.0|It had all the so...|10 31, 2013| AWGH7V0BDOJKB|    Barbara Marshall| Not the large print|    1383177600|
|0000013714|  [0, 0]|    5.0|We have many of t...|07 27, 2013|A3UTQPQPM4TQO0|       betty burnett|I was disappointe...|    1374883200|
|0000013714|  [0, 0]|    5.0|I love this book....| 03 1, 2014| A8ZS0I5L5V31B|Ephraim O. Nwabuokei|    GREAT HYMN BOOK!|    1393632000|
|0000013714|  [0, 0]|    4.0|We use this type ...| 12 3, 2013| ACNGUPJ3A3TM9|                 GCM|         Nice Hymnal|    1386028800|
|0000013714|  [0, 0]|    4.0|Heavenly Highway ...|10 16, 2012|A3BED5QFJWK88M|              jimedd|Heavenly Highway ...|    1350345600|
|0000013714|  [2, 3]|    5.0|I bought this for...|09 13, 2009|A2SUAM1J3GNN3B|         J. McDonald|Heavenly Highway ...|    1252800000|
+----------+--------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+
only showing top 10 rows

In [ ]:
df_article.show(n=10)

+---------------+----------+----------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+
|_corrupt_record|      asin|     brand|          categories|         description|               imUrl|price|             related|           salesRank|               title|
+---------------+----------+----------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+
|           null|0001048791|      null|           [[Books]]|                null|http://ecx.images...| null|                null|{null, null, null...|The Crucible: Per...|
|           null|0000143561|      null|[[Movies & TV, Mo...|3Pack DVD set - I...|http://g-ecx.imag...|12.99|{null, [B0036FO6S...|{null, null, null...|Everyday Italian ...|
|           null|0000037214|Big Dreams|[[Clothing, Shoes...|                null|http://ecx.images...| 6.99|{null, [B00JO8II7...|{null, null, null...|Purple Sequin Tin...|
|           null|0000032069|  BubuBibi|[[Sports & Outdoo...|                null|http://ecx.images...| 7.89|{[0000032050, B00...|                null|Adult Ballet Tutu...|
|           null|0000031909|   Unknown|[[Sports & Outdoo...|High quality 3 la...|http://ecx.images...|  7.0|{[B002BZX8Z6, B00...|{null, null, null...|Girls Ballet Tutu...|
|           null|0000032034|  BubuBibi|[[Sports & Outdoo...|                null|http://ecx.images...| 7.87|{[B00D2JSRFQ, 000...|                null|Adult Ballet Tutu...|
|           null|0000589012|      null|[[Movies & TV, Mo...|                null|http://ecx.images...|15.95|{[B000Z3N1HQ, 057...|{null, null, null...|Why Don't They Ju...|
|           null|0001048775|      null|           [[Books]]|William Shakespea...|http://ecx.images...| null|                null|{null, null, null...|Measure for Measu...|
|           null|0000031852|  Coxlures|[[Sports & Outdoo...|                TUtu|http://ecx.images...| 3.17|{[B00JHONN1S, B00...|{null, null, null...|Girls Ballet Tutu...|
|           null|0001048236|      null|           [[Books]]|&#34;One thing is...|http://ecx.images...| 9.26|{null, [144230019...|{null, null, null...|The Sherlock Holm...|
+---------------+----------+----------+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+
only showing top 10 rows

In [ ]:
df_sample_review = df_review.sample(0.0101, 1)

In [ ]:
df_sample_review.createOrReplaceTempView('review_sample')

In [ ]:
res = spark.sql('SELECT a.title, s.* FROM review_sample s INNER JOIN (SELECT asin, title FROM article ORDER BY asin) AS a ON s.asin = a.asin')

In [ ]:
res.show(n=10)

+--------------------+----------+--------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+
|               title|      asin| helpful|overall|          reviewText| reviewTime|    reviewerID|        reviewerName|             summary|unixReviewTime|
+--------------------+----------+--------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+
|Adult Ballet Tutu...|0000032034|[11, 12]|    5.0|Purchased and wor...|09 10, 2013|A2MPIVS0KSY8O0|               Sonja|               Tutus|    1378771200|
| Along Came a Spider|0006476155|  [0, 0]|    5.0|Great development...|01 14, 2013|A37QDGQ90TLQQX|     Albert Wimberly|Great character d...|    1358121600|
| Along Came a Spider|0006476155|  [0, 0]|    4.0|Always a true fan...| 01 5, 2014|A3S8MFLN2HZ7RI|          footsie517|          Love it!!!|    1388880000|
| Along Came a Spider|0006476155|  [0, 0]|    5.0|I enjoy a good my...|02 21, 2014| AB4KMVNE4MSA3|        Jane Baldwin| Good detective book|    1392940800|
| Along Came a Spider|0006476155| [9, 10]|    5.0|Ditto to all the ...|04 11, 2001|A3F4PVESHV9947|           K. Walton|My Top 10 of All ...|     986947200|
| Along Came a Spider|0006476155|  [0, 0]|    3.0|I picked up this ...| 08 9, 2013|A39H6B5PJQYLBM|                Paul|    Good, not great.|    1376006400|
| Along Came a Spider|0006476155|  [0, 0]|    5.0|I love the Alex C...|05 10, 2013| AOO0A8V4HE79V|   Phyllis Pritchard|ALEX CROSS IS THE...|    1368144000|
| Along Came a Spider|0006476155|  [0, 0]|    4.0|This is the first...| 09 3, 2009|A2YLBDY64IGTBJ|Ruth Thompson "We...|          Alex Cross|    1251936000|
|Along the Wall an...|0006531113|  [3, 3]|    2.0|This book is only...|11 21, 2000| ATIF9VLMIZY8W|          ROY L WEBB|The book is reall...|     974764800|
|Dreams of Iron an...|0007163061|  [6, 6]|    3.0|DREAMS OF IRON AN...|05 18, 2004| AEC46NVS07MJ9|        charles falk|        HISTORY LITE|    1084838400|
+--------------------+----------+--------+-------+--------------------+-----------+--------------+--------------------+--------------------+--------------+
only showing top 10 rows

In [ ]:
df_sample = res.toPandas()

In [ ]:
df_sample.head(3)

,title,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,Adult Ballet Tutu Yellow,0000032034,"[11, 12]",5.0,Purchased and wore these tutus for the Portlan...,"09 10, 2013",A2MPIVS0KSY8O0,Sonja,Tutus,1378771200
1,Along Came a Spider,0006476155,"[0, 0]",5.0,"Great development of characters, you begin to ...","01 14, 2013",A37QDGQ90TLQQX,Albert Wimberly,Great character development / compelling case ...,1358121600
2,Along Came a Spider,0006476155,"[0, 0]",4.0,Always a true fan of James Patterson. He knows...,"01 5, 2014",A3S8MFLN2HZ7RI,footsie517,Love it!!!,1388880000

In [ ]:
try:
  df_sample.drop(columns=['as)n'], inplace=True)
except:
  pass

In [ ]:
df_sample.head(3)

,title,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,Adult Ballet Tutu Yellow,0000032034,"[11, 12]",5.0,Purchased and wore these tutus for the Portlan...,"09 10, 2013",A2MPIVS0KSY8O0,Sonja,Tutus,1378771200
1,Along Came a Spider,0006476155,"[0, 0]",5.0,"Great development of characters, you begin to ...","01 14, 2013",A37QDGQ90TLQQX,Albert Wimberly,Great character development / compelling case ...,1358121600
2,Along Came a Spider,0006476155,"[0, 0]",4.0,Always a true fan of James Patterson. He knows...,"01 5, 2014",A3S8MFLN2HZ7RI,footsie517,Love it!!!,1388880000

In [ ]:
df_sample.shape

(672885, 10)

In [ ]:
df_train = df_sample.iloc[0:int(df_sample.shape[0] * 0.99),:]

In [ ]:
df_train.shape

(666156, 10)

In [ ]:
df_test = df_sample.iloc[int(df_sample.shape[0] * 0.99):df_sample.shape[0],:]

In [ ]:
df_test.shape

(6729, 10)

In [ ]:
df_train.to_csv('./sample.csv', sep=';', index=False)

In [ ]:
df_test.to_csv('./test.csv', sep=';', index=False)